.map-container {
  width: 100%; /* Ensure the map takes the full width of its container */
  height: 250px; /* Set a fixed height for the map */
  margin-top: 16px; /* Add some space between the DataGrid and the map */
  position: relative; /* Change position to relative to avoid overlapping */
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1;
  padding: 6px;
  font-weight: bold;
}
