:root {
  --background-colour: #B7C8E1;
  --highlight-colour: #f7d1cd;
  --action-colour: #582c4d;
  --secondary-colour: #e6e8ef;
  --text-colour: #2f2f2f;

  


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-colour);
  background-color: var(--background-colour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--highlight-colour);
  text-decoration: inherit;
}
a:hover {
  color: var(--highlight-colour);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.0rem;
}

h6 {
  font-size: 0.8rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--action-colour);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--action-colour);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  font-size: 100%; /* 16px */
}

@media (max-width: 1000px) {
  html {
    font-size: 70%; /* 14.4px */
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  html {
    font-size: 100%; /* 16px */
  }
}

@media (min-width: 1201px) {
  html {
    font-size: 110%; /* 17.6px */
  }
}


